.title {
    color: rgb(222, 151, 151);
}
.bg-image{
    background-image: url(./img/fondo-guitars.jpg);
    height: 100vh;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}