
<div>
    <h1>
      This is your cart! 
    </h1>
    <button >
      <a href="/views/products">GO TO PRODUCTS</a>
     </button>
    <button >
      <a href="/views/products">GO TO Ticket</a>
     </button>
{{#each cart}}
    <li>
      <ul>
        <p>
          Product ID: {{this.cart._id}}
        </p>
      </ul>
    </li>
    {{/each}}
</div>