
<div>
    <h1>
      This is your cart! {{cart.id}}
    </h1>
    {{#each productId.id}}
    <li>
      <ul>
        <p>
      {{productId.title}}
        </p>
      </ul>
    </li>
    {{/each}}
</div>