
<div class="bg-image">
<h1 class="title">Welcome to my Signature Guitar Shop!</h1>
<div style="display: flex; width: 18rem; justify-content: center; align-items:center ">
<div class="card" style="">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/register" class="card-link">Register</a>
    <a href="/login" class="card-link">Sign-in</a>
  </div>
</div>
</div>
</div> 
