
<div class="bg-image" style="display:flex; justify-content:center; align-items:center ">
<div style="flex-direction:row; align-items:center; ">
<div class="card" style=" width: 20rem; height:25rem">
  <div class="card-body" style="display: flex, flex-wrap:wrap">
    <h2 class="title">GB SIGNATURE GUITARS!</h2>
    <p class="card-text">Log-in or Register to see our products!</p>
   <button style="align-items:center"> <a href="/register" class="card-link">Register</a></button>
    <button style=""><a href="/login" class="card-link">Log-in</a></button>
  </div>
</div>
</div>
</div> 
