
<div class="bg-image" style="display:flex; justify-content:center; align-items:center ">
<div style="flex-direction:row; align-items:center; ">
<div class="card" style=" width: 20rem; height:25rem">
  <div class="card-body" style="display: flex, flex-wrap:wrap">
<form action='/api/sessions/login' method='POST'>
  <input id='email' name='email' type='text' placeholder='email' />
  <input id='password' name='password' type='password' placeholder='password' />
  <input type='submit' value='login' />
</form>
<a href="/api/sessions/githubcallback">Login with Github</a>
<a href='/register'>Don't have account yet? REGISTER FOR FREE!</a>
  </div>
</div>
</div>
</div> 