
<h1>HEY! {{user.firstName}} Welcome to Signature guitar shop!</h1>
<button >
 <a style="text-decoration: none;" href="/views/products">
 PRODUCT LIST!
 </a>
 </button>
<button>
<a style="text-decoration: none;" href='/logout'>LOGOUT</a>
</button>