
<h1>HEY! {{firstName}} Welcome to Signature guitar shop!</h1>
<form action="/views/products" method="GET">
<button >
 <a style="text-decoration: none;" >
 PRODUCT LIST!
 </a>
 </button>
</form>
 <form action='/api/carts/' method='POST'>
<button type="submit">
<a style="text-decoration: none;">CART</a>
</button>
 </form>
<button>
<a style="text-decoration: none;" href='/logout'>LOGOUT</a>
</button>