<div>
    <h1>
        Our products in real time! 
    </h1>
    <div>
        <ul id= "productsUl">

        </ul>
    </div>

</div>
 <script src="/socket.io/socket.io.js"></script>
 <script src="../../public/index.js"></script>